<section>
<div>
<div class ="image_splash">
<%= image_tag  'logo.png', :alt =>'logo'%>
<div class ="link_splash">
 <div class="splashe"><%= link_to "Sign In", new_user_session_path  %></div>
<div class="splashe"><%= link_to "Sign Up", new_user_registration_path %></div>
</div>
</div>
</section>
