/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color:rgb(7 182 232 / 7%);
}

.image_div {
  width: 40%;
}

.text {
  font-size: large;
}

.text_field {
  width: 100%;
  height: 2.67rem;
  padding: 10px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 1rem;
  border: 1px solid #a5a7a7;
}

.btn {
  width: 6rem;
  height: 2.9rem;
  background-color: rgb(95 167 235);
  color: rgb(245 247 250);
  border-radius: 0.4rem;
  font-size: large;
}

.text_desc {
  font-size: 2rem;
  text-align: center;
  color: rgb(245 247 250);
  padding-top: 1rem;
}

.container {
  width: 60%;
  margin: auto;
  background-color: #eff0f0;
  padding-bottom: 2rem;
  margin-top: 5rem;
  border-radius: 1rem;
}

.desc_container {
  background-color: #3778c2;
  height: 5rem;
  width: auto;
  margin-bottom: 2rem;
  border-radius: 0.1rem;
}

.link_div {
  display: flex;
  gap: 19rem;
}

.categorybtn {
  margin-left: 2rem;
}

.link_category {
  width: 100%;
  height: 2rem;
  background-color: rgb(95 167 235);
  font-size: large;
  padding-top: 12px;
  margin-right: 2rem;
  text-align: center;
}

.link_category a {
  color: #fff;

}

/* category */
.categories_div {
  margin: auto;
  background-color: #d3d7db;
  width: 50%;
  margin-top: 5rem;
  border-radius: 1rem;
}

.category_info {
  background-color: #3778c2;
  height: 5rem;
  width: auto;
  border-radius: 0.1rem;
  display: flex;
  gap: 9rem;
}

.text_descategory {
  font-size: 2rem;
  text-align: center;
  color: rgb(245 247 250);
  padding-left: 17.9rem;
}

.category_name {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 9rem;
  color: rgb(245 247 250);
  padding-right: 0.5rem;
}

.categoryi {
  display: inline-block;
  margin-left: auto;
  padding-right: 1rem;
  padding-top: 0.5rem;
}

.link_categr {
  width: 3rem;
  height: 1.5rem;
  background-color: rgb(195 230 231);
  border-radius: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.29rem;
  margin-top: 0.5rem;
}

.image_info {
  display: flex;
  width: 90%;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.imag_div {
  margin-left: 1.5rem;
  width: 20%;
  padding-top: 1.5rem;
}

.img {
  width: 66%;
  border-radius: 1rem;
}

.info_container {
  width: 60%;
  align-items: center;
}

.text_categories {
  text-decoration: none;
}

.time_info {
  width: 20%;
  margin: auto;
}

.link {
  width: 100%;
  background-color: #54e064;
  height: 4rem;
  text-align: center;
  padding-top: 1.5rem;
}

.link_path {
  color: white;
  font-size: xx-large;
  text-decoration: none;
}

/* expense form */
.text_expense {
  width: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* expenses */
.expense_container {
  margin: auto;
  background-color: #d3d7db;
  width: 50%;
  margin-top: 5rem;
  border-radius: 1rem;
}

.ecent_desc {
  color: rgb(201 196 196);
  font-size: large;
  text-align: right;
}

.escent {
  background-color: #3778c2;
  height: 1rem;
  width: auto;
  margin-bottom: 2rem;
  margin-top: -1rem;
  padding-bottom: 1rem;
  padding-right: 7rem;
}

.expense_div {
  display: flex;
  width: 90%;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.container_div {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 1rem;
}

.expense_info {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 4rem;
  margin-top: -1rem;
}

.text_expenseinfo {
  width: 7rem;
}

.time_expense {
  width: 7rem;
}

.time_infoexpense {
  width: 7rem;
}

.time_expens {
  width: 7rem;
}

.text_info {
  text-align: right;
  font-size: large;
  margin-left: 29.2rem;
}

.text_h {
  margin-left: 2rem;
  font-size: large;
  color: #434b54;
}

.img_expens {
  margin: 1rem;
  width: 66%;
  border-radius: 1rem;
}

/* splash */

.text_splash {
  font-size: xx-large;
  color: #54e064;
  text-align: center;
}

.splash_wrapper {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.image_splash {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


.splash_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 100%;
  height: 49vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.splashe {
  display: flex;
  flex-direction: row;
  width: 40%;
  padding: 0.5rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  border: 2.67px solid #rgb(95 167 235);
  font-size: larger;
  text-align: center;
  justify-content: center;
  background-color:rgb(95 167 235);
}

.splashe a {
  color: #fff;
}

a {
  text-decoration: none;
  color: #4372c3;
  font-size: large;
  font-weight: bold;
}

.link_splash {
  display: flex;
  flex-direction: row;
}

.signup,
.login {
  background-color: #3778c2;
  padding: 0.5rem;
  text-align: center;
  color: #fff;
}

.signup_btn,
.login_btn {
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 2.67rem;
  background-color: #54e064;
  font-size: x-large;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  border: none;
  color: #fff;
  width: 100%;
}

@media screen and (width <= 500px) {
  .categories_div {
  width: 99%;
  }

  .text_descategory {
    padding-left: 0.5rem;
  }

  .container {
    width: 80%;
  }

  .category_name {
    text-align: left;
    margin-left: 0;
    padding-right: 0.5rem;
  }

  .link_categr {
    margin-left: 0;
    padding-right: 0.5rem;
  }

  .link_div {
    gap: 0.5rem;
  }

  .categorybtn {
    margin-left: 0.5rem;
  }

  .link_category {
    width: 90%;
    margin-right: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #fff;
  }

  .splash_image{
    width: 90%;
    margin-top:6rem;
    height: 75vh;
  }

  .signup_btn,
  .login_btn {
    margin-left: auto;
  }

  .expense_container {
    width: 90%;
  }
  .expense_div {
    width: 90%;
    font-size: 12px;
  }
  .expense_info {
    gap: 0;
    width: auto;
  }
  .text_expenseinfo {
    width: 5rem;
  }
  
  .time_expense {
    width: 5rem;
  }
  
  .time_infoexpense {
    width: 2rem;
  }
  
  .time_expens {
    width: 5rem;
  }
  .text_h {
    margin-left: 1rem;
  }
  .text_info {
    padding-left: 9rem;
  }
  .category_info {
    gap: 4rem;
  }

} 