<section>
<div>
<% @categories.each do |category| %>
    <div>
    <div>
    <%= category.name %>
    </div>
      <div>
      <%= image_tag category.icon, :alt => 'icon-logo' %>
      </div>
      <div>
        <div>
        <h1><%= link_to category.name, category_expenses_path(category) %></h1>
        </div>
        </div>
        </div>
        <% end %>
        </div>
<div class="my-3 float-right">
    <%= link_to "Add Category", new_category_path, class: "btn btn-primary" %>
</div>
</section>