<h1>Categories</h1>
<p>Find me in app/views/categories/new.html.erb</p>

<h1>New category</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Back to recipes", recipes_path %>
</div>

